body {
    background-color: rgb(21, 21, 21);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    margin-top: 2%;
    width: 60%;
    text-align: center;
    font-size: 1.2rem;
    color: aliceblue;
}

/* VIDEO BOX STYLING */
.box {
    width: 35%;
    background-color: rgba(255, 255, 255, 0.08); /* light box */
    border-radius: 12px;
    padding: 16px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Make video auto-scale to box width */
.box video {
    width: 100%;
    border-radius: 10px;
}

.desc {
    margin-top: 10px;
    color: #ddd;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.3rem;
}
